<div data-role="header" data-theme="a">
  <h1>Editing Article</h1>
	<%= link_to 'Delete', @post, :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
</div>
 
<div data-role="content">
  <%= render 'form' %>
</div>
