<div data-role="header" data-position="inline" data-theme="a">
	<%= link_to 'Back', root_url, "data-rel" => "back", "data-icon" => "arrow-l", "class" => "ui-btn-left" %>  
	<h1>New Articlde</h1>
</div>
 
<div data-role="content" data-theme="a">
  <%= render 'form' %>
</div>